@import "~bootstrap/scss/bootstrap";
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family:
    "Lato",
    "Lucida Sans",
    "Lucida Sans Regular",
    "Lucida Grande",
    "Lucida Sans Unicode",
    Geneva,
    Verdana,
    sans-serif;
}

body {
  width: 100%;
}

h2 {
  font-size: 130%;
  text-transform: capitalize;
  font-weight: bold;
  color: #000;
}

p {
  line-height: 120%;
}

a {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
  font-weight: bold;
}

.jumbotron{
  text-align: center;
}

.header-svg {
  width: 100%;
}

.card {
  margin: 0 auto;
  float: none;
}

.header-search {
  width: 50%;
  margin: 0 auto;
}

.records {
  text-align: center;
}

.record-box-blue {
  width: 20px;
  height: 20px;
  background-color: turquoise;
  margin: 5px;
  padding: 5px;
}

.prevention {
  padding: 10px;
}


@media only screen and (max-width: 600px){
  .header-search {
    width: 80%;
    margin: 0 auto;
  }
}
tr{
  cursor: pointer;
}

.countries-table{
  max-height:450px;
  overflow-y: auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .main-title{
    font-size: 1.5rem;
  }
  .lead{
    font-size: 1rem;
  }
  .card > .card-body{
    h5{
      font-size: 1.5em;
    }
    font-size: .7em;
  }
  .jumbotron{
    padding:1rem;
    margin-bottom: .5rem;
  }
  .alert{
    padding: .5rem;
  }

  .numbers{
    & > *{
      margin: .5rem 5px;
      font-size: .8rem;
    }
  }
}

